<%= javascript_include_tag "jquery.clipboard.pack.js" %>

<h2>Become User</h2>

<% @tab = 'admin' -%>

<p style="font-size: 120%; color: red">
WARNING! With great power comes great responsibility. You'd better know what you're doing.
</p>

<% form_tag do %>
<% if flash[:error] %>
<div id="errorExplanation"><%= flash[:error] %></div>
<% end %>
Name: <%= h @user.name %><br/>
UID: <%= h @user.uid %><br/>
Email: <%= h @user.email %><br/>
Account Key: <%= text_field_tag 'account_key', '', :size => 64 %>
<p>or</p>
Account Id: <%= text_field_tag 'account_id', '', :size => 8 %>
<p>or</p>
Support Key: <%= text_field_tag 'support_key', '', :size => 8 %>
<p>or</p>
FI:
<%= collection_select :account, :fi, @fis, :to_s, :to_s, {}, :id => 'account_fi' %>
<br/>
Last 4 of account number: <%= text_field 'account', 'number' %><br/>
<%= submit_tag 'Submit' %>
<% end %>

<style type="text/css">
table#accounts {font-size: 90%; border: 1px solid #999;}
table#accounts td, table#accounts th {font-size: 90%; padding: 0.5em; border: 1px solid #ccc;}
</style>

<% if defined?(@accounts) && @accounts.any? %>
  <p>Matching accounts:</p>
  <table id="accounts">
    <tr><th>Acct Id</th><th>Name</th><th>Acct Number</th><th>FI</th><th>Acct Key</th><th>Status</th><th>Created</th></tr>
  <% for account in @accounts %>
    <tr <% if !account.active? -%>bgcolor="#ccc"<% end -%>>
      <td><%= link_to account.id, uploads_index_url(:account_id => account.id) %></td>
      <td><%= link_to h(account.name), :action => 'become', :id => account.account_key %></td>
      <td><%= account.account_number %></td>
      <td><%= account.financial_inst ? link_to (h(account.financial_inst.name + " (#{account.financial_inst.id})"), :controller => "financial-institutions", :action => account.financial_inst.wesabe_id) : "n/a" %></td>
      <td><%= link_to account.account_key, "#", :class => "account_key", :title => "Click to copy to the clipboard" %></td>
      <td><%= account.status %></td>
      <td><%= short_friendly_date(account.created_at) %></td>
      <td><%= link_to "Edit", :controller => "admin", :action => "account_edit", :id => account.id %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<%= javascript_tag %{
	$.clipboardReady(function(){
		$( "a.account_key" ).click(function(e){
      $.clipboard( e.target.text );
			return false;
		});
	}, { swfpath: "/jquery.clipboard.swf" } );
} %>
