<% set_page_title 'Change My Password' %>
<% javascript 'wesabe/views/shared/form' %>

<div id="right">
  <div class="two-column" id="public-page">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle"><div class="right">
    <div class="content" id="change-password-container">
      <div class="module-header"><h1>Change My Password</h1></div>
      <%= render :partial => 'shared/notification' %>

      <%= form_tag password_user_url, :method => :put do -%>
        <fieldset>
          <div class="two-col-centered">
            <div class="field">
              <label class="field-title" for="password_change_current_password">Current Password</label>
              <%= password_field 'password_change', 'current_password', {:size => 30, :class => 'initial-focus'} %>
              <%= error_message_on 'password_change', 'current_password', :css_class => 'error-message' %>
            </div>
            <div class="field">
              <label class="field-title" for="password_change_password">New Password</label>
              <%= password_field 'password_change', 'password', :size => 30  %>
              <%= error_message_on 'password_change', 'password', :css_class => 'error-message' %>
            </div>
            <div class="field">
              <label class="field-title" for="password_change_password_confirmation">Confirm New Password</label>
              <%= password_field 'password_change', 'password_confirmation', :size => 30 %>
              <%= error_message_on 'password_change', 'password_confirmation', :css_class => 'error-message' %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <a class="button submit green"><span>Save</span></a>
        </fieldset>
        <% end -%>
    </div>
    </div></div>
    <div class="bottom"><div class="right"></div></div>
  </div>
</div>
<div id="left">
  <%= render :partial => "users/sidebar" %>
</div>
