<% set_page_title "Reset Your Password" %>

<h2>Please Change Your Password</h2>

<%= form_tag do %>

<table class="user_form">
<tr><td colspan="2" style="font-size: 80%">
  <p>Your password was recently reset, so you should change it immediately.</p>
</td></tr>
<tr class="field">
  <td class="label"><label for="password">New Password</label></td>
  <td class="input">
    <%= password_field 'password_reset', 'password', :size => 30  %>
  </td>
</tr>

<tr class="field">
  <td class="label"><label for="password_confirm">Confirm New Password</label></td>
  <td class="input"><%= password_field 'password_reset', 'password_confirmation', :size => 30 %></td>
</tr>
<tr>
<td></td>
<td class="input"><%= error_message_on 'password_reset', 'password_confirmation', :css_class => 'error' %></td>
</tr>

<tr>
  <td></td>
  <td class="input buttons" style="text-align: left">
    <%= image_submit_tag 'button_submit.gif', :alt => 'Submit' %>
  </td>
</tr>
</table>
<!--[eoform:password_change]-->
</div>
<% end %>
