<% set_page_title "Automatic Uploader" %>

<% javascript "uploads" %>
<% javascript 'wesabe/views/shared/form' %>
<%= javascript_tag "document.domain = #{shared_domain(controller.request.host).to_json};" %>

<div id="three-col-center">
  <div class="two-column flat" id="upload-account">
    <div class="top"><div class="right"><div class="grip"></div></div></div>
    <div class="middle"><div class="right">
    <div class="content">
      <div class="module-header">
        <h4>Getting Started</h4>
      </div>

      <div id="upload-index">
        <!-- BEGIN steps -->
        <ul class="upload-steps">
          <li>1. Find your bank</li>
          <li class="on">2. Connect to your bank</li>
          <li>3. Select your accounts</li>
        </ul>
        <!-- END steps -->

        <div id="color_body">

          <div id="curtain" style="display:none">
            <div id="animation">
              <div class="update-spinner"><%= image_tag '/images/maincontent/animated-gifs/uploading-spinner.gif'%></div>
              <h1 id="default_status">Connecting</h1>
              <h1 id="auth_status" style="display:none">Logging in</h1>
              <h1 id="account_status" style="display:none">Getting accounts</h1>
              <p>This might take a couple of minutes</p>
            </div>
            <p id="cancel"><%= link_to_function "&#40; cancel &#41;", "ssu.cancel()" %></p>
          </div>

          <div id="help">
            <h6 class="color_title">Our Other Uploaders&hellip;</h6>
            <ul>
              <li class="manual"><%= link_to "Manual Uploads", manual_upload_path(:fi => @fi) %></li>
            </ul>
          </div><!-- END help -->

          <div id="form_body">
            <h3><%= h(@fi.name) %>
               <%= link_to truncate(@fi.url, 45), @fi.url, :target=>"new", :class=>"fi_url" %>
            </h3>

            <%- form_tag "", :id => "fi_form" do -%>
              <p class="note">
               <%= help_text_for(@fi) if @fi.help_text(:ssu) %>
               <strong>Type the username and password you use for online banking.</strong>
               Then we can connect to your bank and load your account data into Wesabe.
              </p>

              <%= hidden_field_tag "fi_id", @fi.wesabe_id %>
              <div class="fi_forms_box" id="fi_account_credentials">
                <%- if @fi.login_fields -%>
                  <%- @fi.login_fields.each do |field| -%>
                    <%= login_field_for(field) %>
                  <%- end -%>
                <%- else -%>
                  <%= login_field_for(:label => @fi.username_label || "Bank Username", :key => 'username') %>
                  <%= login_field_for(:label => @fi.password_label || "Password", :key => 'password', :type => 'password') %>
                <%- end -%>
              </div>

              <iframe src="<%= ssu_uri("/creds/new") %>" id="ssu_iframe" scrolling="no"
                frameborder="0" name="ssu_iframe" style="width:1px;height:1px"></iframe>
              <div class="clear">&nbsp;</div>
              <a class="button submit green"><span>Continue</span></a>
              <a class="button cancel gry"><span>Cancel</span></a>
            <%- end -%>

            <%- form_tag "#", :id => "sq_form", :style => "display:none" do -%>
            <h4 class="title">Your Bank Has Security Questions</h4>
              <p>
                <strong>Your bank is looking out for you!</strong>
                In order to connect to Wesabe they need to know it&rsquo;s really you.
                Answer their security questions as you would at their online banking site.
              </p>

              <%= hidden_field_tag "ssu_job_id" %>
              <%= hidden_field_tag "ac_id" %>

              <div id="security_questions">
                <div class="sq_header"></div>
                <div class="fi_forms_box" id="fi_security_questions"></div>
                <div class="sq_footer"></div>
              </div><!-- END additional security questions -->

              <%= link_to_function "<span>Continue</span>", "$(this).parent('form').submit()", :id => 'bank_next_on', :class=>"button submit green" %>
              <%= link_to_function '<span>Cancel</span>', "ssu.cancel()", :class => "button cancel gry" %>
            <%- end -%>


            <div id="iframe_error" class="fi_forms_box" style="display:none">
              <h4>Sorry, we're having trouble saving your credentials.</h4>
              <p>Try <%= link_to_function "saving your credentials again", "ssu.hideError()" %> in about five minutes.</p>
            </div>

            <div id="auth_error" class="fi_forms_box" style="display:none">
              <h4 id="creds_invalid" class="error_type" style="display:none">
                Oops, something you entered wasn't quite right.
              </h4>
              <h4 id="user_invalid" class="error_type" style="display:none">
                Oops, the <%= @fi.username_label %> you entered is incorrect.
              </h4>
              <h4 id="pass_invalid" class="error_type" style="display:none">
                Oops, the <%= @fi.password_label %> you entered is incorrect.
              </h4>
              <h4 id="security_invalid" class="error_type" style="display:none">
                Oops, those are the wrong answers to the security questions.
              </h4>
              <%- if @fi.help_text(:ssu) -%>
              <p><%= help_text_for(@fi) %></p>
              <%- end -%>
              <p>
                Please try connecting to <%= link_to "your bank's website", @fi.url, :target => '_blank' %>
                to confirm your credentials, then either
                <%= link_to_function 'save your credentials again', "ssu.tryAgain()" %>
                or
                <%= link_to_function 'cancel', "ssu.cancel()" %>.
              </p>
            </div>

            <div id="bank_error" class="fi_forms_box" style="display:none">
              <h4>Sorry, but we're having trouble connecting to your bank.</h4>
              <%- if @fi.help_text(:ssu) -%>
              <p><%= help_text_for(@fi) %></p>
              <%- end -%>
              <p>Try <%= link_to_function "saving your credentials again", "ssu.tryAgain()" %> in about five minutes.</p>
            </div>

            <div id="bank_error_for_tester" class="fi_forms_box" style="display:none">
              <h4>Sorry, it's still a work in progress.</h4>
              <p>
                Support for <%=h @fi.name %> is still in beta and needs more testing.
                Thanks for taking the time to help us.
              </p>
            </div>
          </div>
          <div class="clear">&nbsp;</div>
        </div>
      </div>
    </div>
    </div></div>
    <div class="bottom"><div class="right"></div></div>
  </div>
</div>
