<%= render :partial => "layouts/header" %>
<body class="showgrid-off">
<div class="container">
  <%= render :partial => "layouts/masthead" %>
  <div id="maincontent">
    <%= yield :layout %>
    <div class="clear"></div>
  </div>
  <%= render :partial => "layouts/footer_nav" %>
</div>
<%= yield :footer %>
</body>
</html>
